
.wysiwyg-lineclears {
  display: block;
  border: 0;
  border-top: 1px dotted #ccc;
  margin-top: 1em;
  width: 100%;
  height: 12px;
  clear:both;
  float: none !important; 
  background: transparent url(images/lineclearstext.gif) no-repeat center top;
}
